  <script src="/assets/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/currency.js"></script>
  <% if (typeof includeNavScript !== 'undefined' && includeNavScript) { %>
    <script src="nav.js"></script>
  <% } %>
  <% if (typeof scripts !== 'undefined' && scripts && scripts.length) { %>
    <% scripts.forEach(function(script) { %>
      <script src="<%= script %>"></script>
    <% }) %>
  <% } %>
</body>
</html>
