  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <% if (typeof includeNavScript !== 'undefined' && includeNavScript) { %>
    <script src="nav.js"></script>
  <% } %>
  <% if (typeof scripts !== 'undefined' && scripts && scripts.length) { %>
    <% scripts.forEach(function(script) { %>
      <script src="<%= script %>"></script>
    <% }) %>
  <% } %>
</body>
</html>
